<router-outlet></router-outlet>
<ul class="navbar">
  <li>
    <a routerLink="/"> Home </a>
  </li>
  <li>
    <a routerLink="/games"> Games </a>
  </li>
  <li>
    <a routerLink="/volunteers"> Volunteers </a>
  </li>
  <li>
    <a class="active" routerLink="/affectations"> Planning </a>
  </li>
</ul>

<body>

    <h2> Make an affectation </h2>
    <form [formGroup]="affectationForm" (ngSubmit)="onSubmit()" >

        <label for="zone">Zone: </label>
        <input id="zone" type="text" list="listOfZones" formControlName="zone">
            <datalist id="listOfZones">
                <option *ngFor="let zone of zones">{{ zone.nom }}</option>
            </datalist>
    
        <label for="date">Date: </label>
        <input id="date" type="date" formControlName="date">

        <label for="start">Start hour: </label>
        <input id="start" type="time" required pattern="\d{2}-\d{2}-\d{4}" formControlName="start">

        <label for="end">End hour: </label>
        <input id="end" type="time" required pattern="\d{2}-\d{2}-\d{4}" formControlName="end">
    
        <label for="game">Game: </label>
        <select formControlName="game">
            <option *ngFor="let game of games" [ngValue]="game.nom">{{ game.nom }}</option>
        </select>

        <label for="volunteers">Volunteers: </label>
        <select formControlName="volunteers" [(ngModel)]="selectedVolunteer">
            <option *ngFor="let volunteer of volunteers" [ngValue]="volunteer.email">{{ volunteer.prenom + ' ' + volunteer.nom }}</option>
        </select>
        <button type="button" (click)="addToList()">Add</button>
        <ul>
            <li *ngFor="let item of list">
                {{ item }}
                <button type="button" (click)="removeVolunteer(item)"> X </button>
            </li>
        </ul>
        
        <button id="submitButton" type="submit" [disabled]="affectationForm.controls.zone.value === '' || affectationForm.controls.date.value === '' || affectationForm.controls.start.value === '' || affectationForm.controls.end.value === '' || affectationForm.controls.game.value === ''">Submit</button>
    </form>

    <h2> Planning </h2>

    <table id="myTable" class="styled-table">
        <thead>
            <tr>
                <th> Zone </th>
                <th> Date </th>
                <th> Start Hour </th>
                <th> End Hour </th>
                <th> Game </th>
                <th> Volunteers </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let affectation of affectations; let i = index">
                <td>{{ affectation.zone }}</td>
                <td>{{ affectation.date }}</td>
                <td>{{ affectation.start }}</td>
                <td>{{ affectation.end}}</td>
                <td>{{ affectation.game }}</td>
                <td>{{ affectation.volunteers }}</td>
            </tr>
        </tbody>
    </table>

</body>