<ul class="navbar">
    <li>
        <a routerLink="/"> Home </a>
    </li>
    <li>
        <a class="active" routerLink="/events"> Events </a>
    </li>
    <li>
        <a routerLink="/games"> Games </a>
    </li>
    <li>
        <a routerLink="/volunteers"> Volunteers </a>
    </li>
    <li>
        <a routerLink="/zones"> Zones </a>
    </li>
</ul>

<h2> List of events </h2>
<button type="button" (click)="createEvent()"> Create a new event </button>

<table id="myTable" class="styled-table">
    <thead>
        <tr>
            <th> Dates </th>
            <th> Zone </th>
            <th> Volunteers </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{ "du " + getFormattedDate(event.beginingdate) + " au " + getFormattedDate(event.endingdate) }}</td>
            <td>
                <div *ngIf="event.zone">{{ event.zone.nom }}</div>
            </td>
            <td>
                <div *ngIf="event.benevoles.length > 0">{{ getFormattedVolunteerListForZone(event) }}</div>
            </td>
            <td>
                <button class="table-row-action edit-action" (click)="editEvent(event)">
                    edit
                </button>
                <button class="table-row-action remove-action" (click)="removeEvent(event)">
                    remove
                </button>
            </td>
        </tr>
    </tbody>
</table>