<h2 mat-dialog-title>Edit Zone</h2>
<form #zoneForm="ngForm" (ngSubmit)="onSubmit()">
  <label for="zone-name">Zone Name : </label>
  <input matInput name="nom" required #nomInput>

  <label for="game-select">Select a game:</label>
<input type="text" id="game-select" list="game-options" (change)="onGameSelected($event)">
<datalist id="game-options">
  <option *ngFor="let game of games" [value]="game.nom">{{game.nom}}</option>
</datalist>

<p>Selected games:</p>
<ul>
  <li *ngFor="let gameId of selectedGameIds">{{ getGameById(gameId)?.nom }}
    <button mat-icon-button (click)="removeGame(gameId)">
      <mat-icon>close</mat-icon>
    </button>
  </li>
</ul>


  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" [disabled]="zoneForm.invalid">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
