<h2> List of games </h2>

<table>
    <tr>
        <td><b> Name </b></td>
        <td><b> Type </b></td>
        <td><b> Zone </b></td>
        <td><b> Actions </b></td>
    </tr>
    <tr *ngFor="let game of games; let i = index">
        <td *ngIf="enableEditIndex != i">{{ game.name }}</td>
        <td *ngIf="enableEditIndex != i">{{ game.type }}</td>
        <td *ngIf="enableEditIndex != i">{{ game.zone }}</td>
        <td *ngIf="enableEditIndex == i">
            <input id="gameName" type="text" [value]="game.name" />
        </td>
        <td *ngIf="enableEditIndex == i">
            <input id="gameType" type="text" [value]="game.type" />
        </td>
        <td *ngIf="enableEditIndex == i">
            <input id="gameZone" type="text" [value]="game.zone" />
        </td>
        <td>
            <button *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false; enableEditIndex=null" class="btn page-secondary-action-btn" ng-click="cancel()">Cancel</button>
            <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn page-primary-action-btn" (click)="saveGame(i); enableEdit=false; enableEditIndex=null" type="submit">Save</button>
            <button class="table-row-action edit-action" *ngIf="!enableEdit" (click)="enableEditMethod(i)">
                edit
            </button>
            <button class="table-row-action edit-action" *ngIf="!enableEdit" (click)="removeGame(i)">
                remove
            </button>
        </td>
    </tr>
</table>