<ul class="navbar">
    <li>
        <a routerLink="/"> Home </a>
    </li>
    <li>
        <a routerLink="/games"> Games </a>
    </li>
    <li>
        <a routerLink="/volunteers"> Volunteers </a>
    </li>
    <li>
        <a routerLink="/affectations"> Planning </a>
    </li>
    <li>
        <a class="active" routerLink="/zones"> Zones </a>
    </li>
</ul>

<h2> List of zones </h2>

<table id="myTable" class="styled-table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Games </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let zone of zones">
            <td>{{ zone.nom }}</td>
            <td><p>{{ formattedGameList }}</p></td>
        </tr>
    </tbody>
</table>