<ul class="navbar">
    <li>
        <a routerLink="/"> Home </a>
    </li>
    <li>
        <a routerLink="/events"> Events </a>
    </li>
    <li>
        <a routerLink="/games"> Games </a>
    </li>
    <li>
        <a routerLink="/volunteers"> Volunteers </a>
    </li>
    <li>
        <a class="active" routerLink="/zones"> Zones </a>
    </li>
</ul>

<h2> List of zones </h2>

<table id="myTable" class="styled-table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Games </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let zone of zones; let i = index">
            <td>{{ zone.nom }}</td>
            <td><p>{{ getFormattedGameListForZone(zone) }}</p></td>
            <td>
                
                <button class="table-row-action edit-action" (click)="editZone(zone)">
                    edit
                </button>
                <button class="table-row-action remove-action" (click)="removeZone(zone)">
                    remove
                </button>
            </td>
        </tr>
    </tbody>
</table>