<ul class="navbar">
    <li>
        <a routerLink="/"> Home </a>
    </li>
    <li>
        <a routerLink="/events"> Events </a>
    </li>
    <li>
        <a routerLink="/games"> Games </a>
    </li>
    <li>
        <a class="active" routerLink="/volunteers"> Volunteers </a>
    </li>
    <li>
        <a routerLink="/zones"> Zones </a>
    </li>
</ul>

<h2> Create a volunteer </h2>
<form [formGroup]="newVolunteerForm" (ngSubmit)="onSubmit()" >

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="prenom">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="nom">

    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
    
    <button type="submit" [disabled]="formNotValid()">Submit</button>
</form>

<h2> List of volunteers </h2>

<table id="myTable" class="styled-table">
    <thead>
        <tr>
            <th [ngClass]="{pointer: true, active:column=='prenom',desc:isDesc, asc:!isDesc}" class="sortingHeader" (click)="sort('prenom')"> First Name </th>
            <th [ngClass]="{pointer: true, active:column=='nom',desc:isDesc, asc:!isDesc}" class="sortingHeader" (click)="sort('nom')"> Last Name </th>
            <th> Email </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let volunteer of volunteers; let i = index">
            <td *ngIf="enableEditIndex != i">{{ volunteer.prenom }}</td>
            <td *ngIf="enableEditIndex != i">{{ volunteer.nom }}</td>
            <td *ngIf="enableEditIndex != i">{{ volunteer.email }}</td>
            <td *ngIf="enableEditIndex == i">
                <input id="volunteerPrenom" type="text" [value]="volunteer.prenom" />
            </td>
            <td *ngIf="enableEditIndex == i">
                <input id="volunteerNom" type="text" [value]="volunteer.nom" />
            </td>
            <td *ngIf="enableEditIndex == i">
                <input id="volunteerEmail" type="text" [value]="volunteer.email" />
            </td>
            <td>
                <button *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false; enableEditIndex=null" class="btn page-secondary-action-btn cancel-button" ng-click="cancel()">Cancel</button>
                <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn page-primary-action-btn" (click)="saveVolunteer(volunteer); enableEdit=false; enableEditIndex=null" type="submit">Save</button>
                <button class="table-row-action edit-action" *ngIf="!enableEdit" (click)="enableEditMethod(i)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="table-row-action remove-action" *ngIf="!enableEdit" (click)="removeVolunteer(volunteer)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>